discord
discord.py
django-scheduler
googletrans
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
icalendar
idna
kiwisolver
langdetect
matplotlib
multidict
nest_asyncio
numpy
pandas
pip
pyparsing
pymysql
BeautifulSoup4
python-dateutil
pytz
requests
rfc3986
scipy
seaborn
setuptools
six
sniffio
soupsieve
sqlparse
translator
urllib3